* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1100faff;
    ont-family: 'Arial', sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: inline;
    text-align: center;
    background-color: #ffffffff;
}

h1 {
    padding: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #000000ff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    resize: none;
}

p {
    font-size: 16px;
}

.green {
  color: #3cd070;
}

.red {
  color: #ff4c4c;
}
